page{
    height:100%;
}
.container{
    min-height: 100%;
    background: url(https://raw.githubusercontent.com/xinyu-git/military_center/master/src/images/bj.jpg) no-repeat center top;
    background-size: 100% 100%;
}
.page-body{padding-bottom:150rpx;}
.swiper-container swiper{
  height: 500rpx;
}
.swiper-container image{
  width: 100%;
  height: 100%;
}
/**底部导航**/
.nav_box{
  position: fixed;
  left:0;
  bottom:0;
  width: 100%;
  height: 103rpx;
  overflow: hidden;
  font-size:26rpx;
  font-weight: bold;
  color:#fff;
}
.nav_item{
  width: 25%;
  height: 100%;
  float: left;
  display: flex;
  background: url(https://raw.githubusercontent.com/xinyu-git/military_center/master/src/images/navbg.png) no-repeat center;
  background-size: 100% 100%;
  justify-content: center;
  align-items: center;
}
.nav_item text{display: inline-block;vertical-align: middle;}
.nav_itemActive{
  background: url(https://raw.githubusercontent.com/xinyu-git/military_center/master/src/images/navbg1.png) no-repeat center;
  background-size: 100% 100%;
}
.nav_item image{
  width: 44rpx;
  height: 50rpx;
  vertical-align: middle;
}
.pageBox{
    width: 100%;
    height: auto;
}
/**列表**/
.accordion{
    width:702rpx;
    margin:0 auto;
    color:#e7e7e7;
}
.listBtn{
    width: 100%;
    height:88rpx;
    display: flex;
    align-items: center;
}
.listBtn text{
    font-size: 32rpx;
    padding-left: 100rpx;
    line-height: 40rpx;
}
.listBtn1{
    background: url(https://raw.githubusercontent.com/xinyu-git/military_center/master/src/images/a_01.png) no-repeat center;
    background-size:100% 100%;
}
.listBtn2{
    background: url(https://raw.githubusercontent.com/xinyu-git/military_center/master/src/images/a_02.png) no-repeat center;
    background-size:100% 100%;
}
.listBtn3{
    background: url(https://raw.githubusercontent.com/xinyu-git/military_center/master/src/images/a_03.png) no-repeat center;
    background-size:100% 100%;
}
.listBtn4{
    background: url(https://raw.githubusercontent.com/xinyu-git/military_center/master/src/images/a_04.png) no-repeat center;
    background-size:100% 100%;
}
.listBtn1.listBtnCurr{
    background: url(https://raw.githubusercontent.com/xinyu-git/military_center/master/src/images/a_01curr.png) no-repeat center;
    background-size:100% 100%;
}
.listBtn2.listBtnCurr{
    background: url(https://raw.githubusercontent.com/xinyu-git/military_center/master/src/images/a_02curr.png) no-repeat center;
    background-size:100% 100%;
}
.listBtn3.listBtnCurr{
    background: url(https://raw.githubusercontent.com/xinyu-git/military_center/master/src/images/a_03curr.png) no-repeat center;
    background-size:100% 100%;
}
.listBtn4.listBtnCurr{
    background: url(https://raw.githubusercontent.com/xinyu-git/military_center/master/src/images/a_04curr.png) no-repeat center;
    background-size:100% 100%;
}
.listCon{
    padding:40rpx 80rpx;
    background: #171616;
    margin:5rpx 0;
    font-size:26rpx;
}
.btn-suspend{
    width:100rpx;
    height:100rpx;
    position: fixed;
    right:24rpx;
    bottom:160rpx;
    background: url(https://raw.githubusercontent.com/xinyu-git/military_center/master/src/images/suspend.png) no-repeat center;
    background-size:100% 100%;
}
.info-tab{
    width:100%;
    text-align: center;
    margin-bottom: 50rpx;
}
.info-tab-list{
    display: inline-block;
    width:236rpx;
    height: 94rpx;
    line-height: 94rpx;
    margin:0 15rpx;
    font-size:30rpx;
    color:#f8f8f8;
    background: url(https://raw.githubusercontent.com/xinyu-git/military_center/master/src/images/tabbg.png) no-repeat center;
    background-size:100% 100%;
}
.on{
    background: url(https://raw.githubusercontent.com/xinyu-git/military_center/master/src/images/tabbg1.png) no-repeat center;
    background-size:100% 100%;
}
.info-item{
    display:none;
    background: url(https://raw.githubusercontent.com/xinyu-git/military_center/master/src/images/infobg.png) no-repeat center top;
    background-size:100% 100%;
    width:702rpx;
    margin:0 auto;
    font-size:26rpx;
    color:#ffffff;
}
.show{
    display: block;
}
.info-box{
    padding:40rpx 0;
}
.info-line{
    overflow: hidden;
    margin:20rpx 0;
}
.info-line label,.info-line text{
    float:left;
}
.info-line label{
    width:245rpx;
    color:#ffbb2a;
    text-align: right;
    font-size:28rpx;
    margin-top:15rpx;
}
.info-line text{
    margin-left: 8rpx;
    border:1px solid #595959;
    padding:15rpx 15rpx;
    font-size:26rpx;
    color:#c6c6c6;
    width:380rpx;
}
.rewardTable{
    width:90%;
    height: 510rpx;
    margin:0 auto;
}
.tableTit{
    margin-bottom: 10rpx;
}
.tr{
    width:100%;
    display: flex;
    justify-content: space-between;
}
.th,.td{
    text-align: center;
}
.th{
    font-size: 28rpx;
    color:#ffbb2a;
    padding:20rpx 0 10rpx;
    border-bottom:1px solid #fff;
}
.td{
    padding:15rpx 0;
}
.th1,.td1,.th3,.td3{
    width:30%;
}
.th2,.td2{
    width:40%;
}
